*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: flex-start;
    max-width: 500px;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: large;
    margin: 30px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 300px ;
    width: 400px;
    border-radius: 50px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 22%, rgba(148,187,233,1) 100%);
    box-shadow: 20px 20px 60px #999;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    outline: none;
    font-size: 18px;
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border-radius: 10px;
}

button[type="submit"] {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
}